.dialogue {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.dialogue .dialogue-window {
    display: block;
    padding: 20px 0;
    background-color: white;
}

.dialogue .dialogue-window .dialogue-title {
    color: black;
    font-size: 1.5em;
    margin: 10px 20px;
    font-weight: bold;
    max-width: 500px;
    overflow: hidden;
}

.dialogue .dialogue-window .dialogue-text {
    display: block;
    color: black;
    margin: 5px 20px;
    min-width: 300px;
    max-width: 500px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    resize: none;
}


.dialogue .dialogue-window .dialogue-input-box {
    display: block;
    margin: 5px 20px;
}

.dialogue .dialogue-window .dialogue-input-box .dialogue-input {
    width: 100%;
}

.dialogue .dialogue-window .dialogue-buttons {
    display: flex;
    margin: 10px 20px 0;
    justify-content: flex-end;
}

.dialogue .dialogue-window .dialogue-buttons button {
    margin-left: 10px;
    color: white;
    background-color: black;
    border: solid 1px black;
    -webkit-appearance: none;
}

.dialogue .dialogue-window .dialogue-buttons button:hover {
    color: black;
    background-color: white;
}