
* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gold; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#editor-frame {
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "chests chests editor editor clipboard operators"
    "chests chests editor editor clipboard operators"
    "skulltulas skulltulas editor editor clipboard items"
    "skulltulas skulltulas editor editor trashcan items"   
    "dungeons dungeons output output control items"   
    "dungeons dungeons output output control items";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.panel {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 2px;
}

.panel>.panel-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    padding: 5px;
    background-color: black;
    color: white;
    border-bottom: solid 1px black;
    user-select: none;
}

.panel>.panel-body {
    flex: 1;
    margin: 5px;
    overflow-y: auto;
}

.panel>.panel-body>.list-item {
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}

.panel>.panel-body>.list-item:hover {
    background-color: black;
    color: white;
}

.panel>.panel-body>.list-item.has-custom-logic:after {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0pc;
    content: "C";
    font-size: 1.5em;
    font-weight: bold;
}

.inactive {
    display: none;
}


#operator-panel .logic-operator,
#item-panel .logic-item {
    display: inline-table;
}

#chest-panel {
    grid-area: chests;
}

#skulltula-panel {
    grid-area: skulltulas;
}

#dungeon-panel {
    grid-area: dungeons;
}

#operator-panel {
    grid-area: operators;
}

#item-panel {
    grid-area: items;
}

#editor-panel {
    grid-area: editor;
}

#clipboard-panel {
    grid-area: clipboard;
}

#trashcan-panel {
    grid-area: trashcan;
}

#trashcan-panel>.panel-body {
    background-image: url("../images/trash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
}

#output-panel {
    grid-area: output;
}

#output-panel>.panel-body {
    white-space: pre;
}

#control-panel {
    grid-area: control;
}

.placeholder,
.logic-item,
.logic-operator {
    display: table;
    margin: 5px;
    user-select: none;
    border-radius: 2px;
}

.placeholder {
    padding: 5px 20px;
    background-color: lightgray;
    border: 1px solid gray;
}

.logic-item {
    padding: 5px;
    background-color: rgb(130, 235, 229);
    border: 1px solid rgb(37, 167, 128);
}

.logic-operator,
.logic-item {
    cursor: move;
}

#editor-panel .logic-operator {
    margin: 20px;
}

.logic-operator > .operator-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    padding: 5px;
    user-select: none;
}

.logic-operator.logic-or {
    background-color: lightgreen;
    border: 1px solid green;
}

.logic-operator.logic-or > .operator-header {
    border-bottom: 1px solid green;
}

.logic-operator.logic-and {
    background-color: lightyellow;
    border: 1px solid orange;
}

.logic-operator.logic-and > .operator-header {
    border-bottom: 1px solid orange;
}

.logic-operator.logic-not {
    background-color: lightpink;
    border: 1px solid red;
}

.logic-operator.logic-not > .operator-header {
    border-bottom: 1px solid red;
}

.logic-operator.logic-value {
    background-color: lightcyan;
    border: 1px solid deepskyblue;
}

.logic-operator.logic-value > .operator-header {
    border-bottom: 1px solid deepskyblue;
}

#logic_choice_board .logic-operator:hover {
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.7);
}

.logic-operator.logic-value input {
    width: 50px;
    height: 25px;
    margin: 0 5px;
    text-align: right;
}
