
* {
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gold; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

#editor-frame {
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 5px;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 2fr;
    grid-template-areas: 
    "logics editor clipboard operators"
    "logics editor clipboard elements"
    "logics editor trashcan elements" 
    "logics output control elements";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.panel {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 2px;
}

.panel>.panel-header,
.panel>.panel-body>.panel-group>.panel-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    padding: 5px;
    background-color: black;
    color: white;
    border-bottom: solid 1px black;
    user-select: none;
}

.panel>.panel-body>.panel-group>.panel-header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

.panel>.panel-body,
.panel>.panel-body>.panel-group>.panel-body {
    flex: 1;
    margin: 5px;
}

.panel>.panel-body {
    overflow-y: auto;
}

.panel>.panel-body>.panel-group {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 2px;
    margin: 5px;
}

.panel>.panel-body>.panel-group:first-child {
    margin-top: 0;
}

.panel>.panel-body>.panel-group:last-child {
    margin-bottom: 0;
}

.panel>.panel-body .list-item {
    padding: 5px;
    margin: 5px;
    border: solid 1px black;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}

.panel>.panel-body .list-item:hover {
    background-color: lightgray;
}

.panel>.panel-body .list-item.active {
    background-color: black;
    color: white;
}

.panel>.panel-body .list-item.has-custom-logic:after {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0pc;
    padding: 0 5px;
    content: "C";
    font-size: 1.5em;
    font-weight: bold;
}

.inactive {
    display: none;
}

/*#item-panel .logic-item,
#item-panel .logic-mixin,*/
#operator-panel .logic-operator{
    display: inline-table;
}

#logics-panel {
    grid-area: logics;
}

#operator-panel {
    grid-area: operators;
}

#elements-panel {
    grid-area: elements;
}

#editor-panel {
    grid-area: editor;
}

#clipboard-panel {
    grid-area: clipboard;
}

#trashcan-panel {
    grid-area: trashcan;
}

#trashcan-panel>.panel-body {
    background-image: url("../images/trash.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50%;
}

#output-panel {
    grid-area: output;
}

#output-panel>.panel-body {
    white-space: pre;
}

#control-panel {
    grid-area: control;
}

.placeholder,
.logic-item,
.logic-mixin,
.logic-setting,
.logic-operator {
    display: table;
    margin: 5px;
    user-select: none;
    border-radius: 2px;
}

.placeholder {
    padding: 5px 20px;
    background-color: lightgray;
    border: 1px solid gray;
}

.logic-item,
.logic-setting,
.logic-mixin {
    padding: 5px;
    background-color: rgb(130, 235, 229);
    border: 1px solid rgb(37, 167, 128);
}

.logic-operator,
.logic-item,
.logic-setting,
.logic-mixin {
    cursor: move;
}

/*#editor-panel .logic-operator {
    margin: 20px;
}*/

.logic-operator > .operator-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 35px;
    padding: 5px;
    user-select: none;
}

.logic-operator.logic-or {
    background-color: lightgreen;
    border: 1px solid green;
}

.logic-operator.logic-or > .operator-header {
    border-bottom: 1px solid green;
}

.logic-operator.logic-and {
    background-color: lightyellow;
    border: 1px solid orange;
}

.logic-operator.logic-and > .operator-header {
    border-bottom: 1px solid orange;
}

.logic-operator.logic-not {
    background-color: lightpink;
    border: 1px solid red;
}

.logic-operator.logic-not > .operator-header {
    border-bottom: 1px solid red;
}

.logic-operator.logic-value {
    background-color: lightcyan;
    border: 1px solid deepskyblue;
}

.logic-operator.logic-value > .operator-header {
    border-bottom: 1px solid deepskyblue;
}

#logic_choice_board .logic-operator:hover {
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.7);
}

.logic-operator.logic-value input {
    width: 50px;
    height: 25px;
    margin: 0 5px;
    text-align: right;
}
