#map {
    --map-scale: 0.8;
    background-image: url("../images/map.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: calc(825px * var(--map-scale));
    height: calc(466px * var(--map-scale));
    left: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    grid-area: map;
}

#dungeon-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 1.0em;
    grid-area: dungeon;
}

#dungeon-container .dungeon-header {
    text-align: center;
}

#dungeon-container #dungeon-name {
    font-size: 1.5em;
}

#dungeon-container #dungeon-list {
    -webkit-padding-start: 0;
    list-style: none;
    margin: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dungeon-container #dungeon-list .dungeon-chest:hover {
    background-color: #282828;
}

/**********************************
    slider
**********************************/

.slidecontainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
}

.slidetext {
    color: black;
    line-height: 12px;
    margin-right: 5px;
}

.slidetrack {
    display: inline-block;
    width: 100px;
    height: 7px;
    margin-bottom: 4px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: gold;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 100%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 100%;
    background: black;
    cursor: pointer;
}