#map {
    --map-scale: 0.8;
    background-image: url("../images/map.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: calc(825px * var(--map-scale));
    height: calc(466px * var(--map-scale));
    left: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    grid-area: map;
}

#map .poi.chest,
#map .poi.skulltula {
    visibility: hidden;
}

#map[data-mode~="chests"] .poi.chest,
#map[data-mode~="skulltulas"] .poi.skulltula {
    visibility: visible;
}

#dungeon-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 1.0em;
    grid-area: dungeon;
}

#dungeon-container #dungeon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

#dungeon-container #dungeon-name:after {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    content: " ";
}

#dungeon-container #dungeon-name[data-mode="chests"]:after {
    background-image: url('../images/chest.svg');
}

#dungeon-container #dungeon-name[data-mode="skulltulas"]:after {
    background-image: url('../images/skulltula.svg');
}

#dungeon-container #dungeon-list {
    min-height: 200px;
    -webkit-padding-start: 0;
    list-style: none;
    margin: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dungeon-container #dungeon-list .dungeon-entry:hover {
    background-color: #282828;
}

/**********************************
    map options
**********************************/

#map .map-options {
    position: absolute;
    top: 88%;
    left: 2%;
}

#map .map-options .map-option {
    display: inline-block;
    width: calc(40px * var(--map-scale));
    height: calc(40px * var(--map-scale));
    background-color: rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    border-radius: 20%;
    border: solid 2px black;
    cursor: pointer;
    opacity: 0.3;
}

.map-option#map-option-chest {
    background-image: url('../images/chest.svg');
}

#map[data-mode~="chests"] .map-option#map-option-chest {
    opacity: 1;
}

.map-option#map-option-skulltula {
    background-image: url('../images/skulltula.svg');
}

#map[data-mode~="skulltulas"] .map-option#map-option-skulltula {
    opacity: 1;
}

/**********************************
    slider
**********************************/

.slidecontainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
}

.slidetext {
    color: black;
    line-height: 12px;
    margin-right: 5px;
}

.slidetrack {
    display: inline-block;
    width: 100px;
    height: 7px;
    margin-bottom: 4px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: gold;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5px;
    height: 100%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 5px;
    height: 100%;
    background: black;
    cursor: pointer;
}