.poi {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: 100%;
    border: solid 2px black;
}

.poi:hover {
    outline: solid 2px cyan;
    z-index: 10000;
}

.poi.chest {
    width: calc(16px * var(--map-scale));
    height: calc(16px * var(--map-scale));
    margin-left: calc(-8px * var(--map-scale));
    margin-top: calc(-8px * var(--map-scale));
}

.poi.dungeon {
    width: calc(24px * var(--map-scale));
    height: calc(24px * var(--map-scale));
    margin-left: calc(-12px * var(--map-scale));
    margin-top: calc(-12px * var(--map-scale));
}

.poi.skulltula {
    width: calc(20px * var(--map-scale));
    height: calc(20px * var(--map-scale));
    margin-left: calc(-10px * var(--map-scale));
    margin-top: calc(-10px * var(--map-scale));
}

.poi.dungeon .count,
.poi.skulltula .count {
    display: inline-block;
    color: black;
    line-height: 24px;
    font-size: calc(1em * var(--map-scale));
}

.poi .tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    top: calc(50% - 14px);
    right: calc(100% + 5px);
    font-size: 18px;
}

.poi.dungeon .tooltip {
    background-color: gray;
    color: #fff;
}

.poi .tooltip:hover {
    display: none;
}

.poi:hover .tooltip {
    visibility: visible;
}