@import "tracker/navigation";
@import "tracker/item";
@import "tracker/map";
@import "tracker/poi";
@import "tracker/settings";
@import "utils/Dialog";

* {
    position: relative;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-weight: bold;
    outline: none;
}

#viewpane {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    margin: 0px;
    color: white;
}

.content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
}

.layout-container {
    display: grid;
    justify-content: start;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: calc(7 * 50px + 16px) minmax(0%, 100%);
    grid-template-rows: calc(8 * 50px + 16px) calc(3 * 40px + 16px) minmax(0%, 100%);
    grid-template-areas: 
    "items map" 
    "keys map"
    "dungeon map";
}

.spacer-line {
    margin: 4px 0;
}

.unavailable {
    background-color: rgb(255, 0, 0);
}

.available {
    background-color: rgb(0, 255, 0);
}

.possible {
    background-color: rgb(255, 255, 0);
}

.opened {
    background-color: rgb(127,127,127);
}

.DCunavailable,
.DCpossible {
    color: rgb(255,0,0);
}

.DCavailable {
    color: rgb(0,255,0);
}

/*.DCpossible {
    color: rgb(210,190,30);
}*/

.DCopened {
    color: rgb(127,127,127);
}

/**********************************
    button
**********************************/

.button {
    width: 100px;
    padding: 5px;
    background-color: gold;
    color: black;
    -webkit-appearance: none;
    border: none;
    outline: none;
    text-decoration: none;
}

.button:hover {
    box-shadow: inset 0px 0px 2px 1px;
}

.button:active {
    box-shadow: inset 0px 0px 4px 3px;
}

.button:disabled {
    opacity: 0.3;
}