@import "utils/normalize";
@import "tracker/fonts";
@import "tracker/navigation";
@import "tracker/item";
@import "tracker/map";
@import "tracker/poi";
@import "tracker/settings";
@import "tracker/layouts";
@import "utils/Dialog";

@keyframes alertcolor {
    0%{
        color: orange;
    }
    50% {
        color: red;
    }
    100% {
        color: orange;
    }
}

a {
    color: black;
    border-bottom: solid 1px black;
    font-weight: bold;
}
 
input[type="range"].slider {
    display: inline-block;
    width: 100px;
    height: 7px;
    margin-bottom: 4px;
    -webkit-appearance: none;
    appearance: none;
    background: #cb9c3d;
    outline: none;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 5px;
        height: 100%;
        background: black;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 5px;
        height: 100%;
        background: black;
        cursor: pointer;
    }
}

body {

    overflow: hidden;

    .tooltip {
        display: inline-flex;
        background-color: black;
        color: #fff;
        border: solid 1px white;
        text-align: center;
        border-radius: 8px;
        padding: 10px;
        position: absolute;
        white-space: nowrap;
        z-index: 10000;
        font-size: 1.2em;
        user-select: none;
    }

    .poi,
    #dungeon-container #dungeon-list .dungeon-entry {

        &[data-mode] {
            display: none;
        }
    }

    &[data-scrubsanity="true"] {

        .poi,
        #dungeon-container #dungeon-list .dungeon-entry {

            &[data-mode="scrubsanity"] {
                display: flex;
            }
        }
    }

    .hint-badge {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 0;
        height: 20px;
        flex-shrink: 0;
        margin-left: 0;
        background-color: #cb9c3d;
        color: black;
        border-radius: 10px;
        font-size: 0.6em;
        font-weight: bold;
    }

    &[data-hint-badges="true"] {

        .tooltip,
        #dungeon-container #dungeon-list .dungeon-entry {
    
            .hint-badge:not(.empty-hint) {
                width: 20px;
                margin-left: 10px;
            }
        }
    }
}

.alert-text {
    animation: alertcolor 5s linear infinite;
    color: red;
    font-weight: bold;

    &.space-right {
        margin-right: 10px;
    }

    &.space-left {
        margin-left: 10px;
    }
}

#viewpane {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    margin: 0px;
    color: white;

    * {
        user-select: none;
    }
}

.content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
}

.layout-container {
    --item-size: 40px;
    display: grid;
    width: 100%;
    justify-content: start;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;
    grid-template-columns: calc(9 * var(--item-size) + 8px) minmax(500px, 100%) 300px;
    grid-template-rows: calc(8 * var(--item-size) + 8px) calc(3 * var(--item-size) + 8px) minmax(calc(13 * var(--item-size) + 8px), 100%);
    grid-template-areas: 
    "items map dungeon" 
    "keys map dungeon"
    "dungeonstatus map dungeon";
}

.spacer-line {
    border-color: #d4ad5e #a17a2b #795b20 #c99836 ;
    border-width: 2px;
    border-style: solid;
    margin: 5px 5px;
}

.content,
#map-container,
#dungeon-container,
#item-container,
#key-container,
#dungeon-status-container {
    background-color: black;
    border-color: #795b20 #c99836 #d4ad5e #a17a2b;
    border-width: 2px;
    border-style: solid;
}

.unavailable {
    background-color: rgb(255, 0, 0);
}

.available {
    background-color: rgb(0, 255, 0);
}

.possible {
    background-color: rgb(255, 255, 0);
}

.opened {
    background-color: rgb(127,127,127);
}

.DCunavailable {
    color: rgb(255,0,0);
}

.DCavailable {
    color: rgb(0,255,0);
}

.DCpossible {
    color: rgb(210,190,30);
}

.DCopened {
    color: rgb(127,127,127);
}

/**********************************
    button
**********************************/

.button {
    width: 100px;
    padding: 5px;
    background-color: #cb9c3d;
    color: black;
    -webkit-appearance: none;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.button:hover {
    box-shadow: inset 0px 0px 2px 1px;
}

.button:active {
    box-shadow: inset 0px 0px 4px 3px;
}

.button:disabled {
    opacity: 0.3;
}

/**********************************
    scrollbar
**********************************/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner {
    background: black; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(146, 146, 146);

    &:hover {
        background: rgb(190, 190, 190); 
    }
}
