@font-face {
    font-family: "ReturnofGanon";
    src: url('/fonts/ReturnofGanon.ttf') format('truetype');
}

[data-font="font_returnofganon"] {
    font-size: 2rem;
    font-family: ReturnofGanon, Arial, sans-serif;
}

[data-font="font_returnofganon"] [data-fontmod="items"] {
    font-size: 1.5rem;
}