@font-face {
    font-family: "ZeldaDX";
    src: url('/fonts/ZeldaDX.ttf') format('truetype');
}

[data-font="font_zeldadx"] {
    font-size: 1.8em;
    font-family: ZeldaDX, Arial, sans-serif;
}

[data-font="font_zeldadx"] [data-fontmod="items"] {
    font-size: 1rem;
}