$fonts: "Charlemagne",
        "Sheikah",
        "Ravenna",
        "ReturnofGanon",
        "Sherwood",
        "ZeldaDX",
        "Triforce",
        "AncientHylian";

@each $item in $fonts {

    @font-face {
        font-family: "#{$item}";
        src: url('../fonts/#{$item}.ttf') format('truetype');
    }

    [data-font="#{$item}"], [data-font="#{$item}"] * {
        font-family: "#{$item}", Arial, sans-serif;
    }

}