$fonts:
        "Charlemagne" 1.1,
        "Ravenna" 1.1,
        "ReturnofGanon" 1.6,
        "Sherwood" 1.1,
        "ZeldaDX" 1.3,
        "Triforce" 1,
        "AncientHylian" 1.2,
        "Sheikah" 1.2;

@each $item in $fonts {

    @font-face {
        font-family: "#{nth($item, 1)}";
        src: url('../fonts/#{nth($item, 1)}.ttf') format('truetype');
    }

    [data-font="#{nth($item, 1)}"] {
        font-size: #{nth($item, 2)}em;
    }

    [data-font="#{nth($item, 1)}"], [data-font="#{nth($item, 1)}"] * {
        font-family: "#{nth($item, 1)}", Arial, sans-serif;
    }

}

:root {
    font-size: 12px;
}