$fonts:
        "Charlemagne" 1.1em,
        "Ravenna" 1.1em,
        "ReturnofGanon" 1.6em,
        "Sherwood" 1.1em,
        "ZeldaDX" 1.3em,
        "Triforce" 1.4em,
        "AncientHylian" 1.2em,
        "Sheikah" 1.2em;

@each $item in $fonts {

    @font-face {
        font-family: "#{nth($item, 1)}";
        src: url('../fonts/#{nth($item, 1)}.ttf') format('truetype');
    }

    [data-font="#{nth($item, 1)}"] {
        font-size: #{nth($item, 2)};
    }

    [data-font="#{nth($item, 1)}"], [data-font="#{nth($item, 1)}"] * {
        font-family: "#{nth($item, 1)}", Arial, sans-serif;
    }

}

:root {
    font-size: 12px;
}