#item-container {
    display: inline-block;
    padding: 8px;
    grid-area: items;
    overflow: hidden;
}

.item-grid .item-row .item {
    cursor: pointer;
}

.item-grid .item-row .icon {
    cursor: default;
}

.item-grid .item-row .item,
.item-grid .item-row .icon {
    display: inline-flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    padding: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 0.7em;
    border: solid 2px transparent;
    overflow: hidden;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

.item-grid .item-row .item.mark,
.item-grid .item-row .icon.mark {
    color: lime;
}

.item-grid[data-inactive="0"] .item-row .item.item-inactive {
    filter: contrast(0.3);
    opacity: 0.6;
}

.item-grid[data-inactive="1"] .item-row .item.item-inactive {
    filter: sepia(1);
}

.item-grid[data-inactive="2"] .item-row .item.item-inactive {
    filter: grayscale(1);
}

.item-grid .item-row .item:hover {
    border: solid 2px gold;
}

/**********************************
    keys
**********************************/

#key-container {
    grid-area: keys;
}

#key-container .item-row .item,
#key-container .item-row .icon {
    width: 40px;
    height: 40px;
}