#item-container {
    display: inline-block;
    grid-area: items;
    overflow: hidden;
}

.item-grid {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;

    .item-row {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}

.item-grid .item-row .icon,
.item-grid .item-row .text {
    cursor: default;
}

.item-grid .item-row .item,
.item-grid .item-row .switch {
    cursor: pointer;
}

.item-grid .item-row .item,
.item-grid .item-row .icon {
    align-items: flex-end;
    justify-content: flex-end;
}

.item-grid .item-row .text,
.item-grid .item-row .switch {
    align-items: center;
    justify-content: center;
}

.item-grid .item-row .item,
.item-grid .item-row .icon,
.item-grid .item-row .text,
.item-grid .item-row .switch {
    display: inline-flex;
    width: var(--item-size);
    height: var(--item-size);
    padding: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
    background-origin: content-box;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 0.7em;
    overflow: hidden;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

.item-grid .item-row .item,
.item-grid .item-row .icon,
.item-grid .item-row .text {
    font-size: calc(var(--item-size) * 0.25);
}

.item-grid .item-row .switch {
    font-size: calc(var(--item-size) * 0.3);
}

.item-grid .item-row .item.mark,
.item-grid .item-row .icon.mark {
    color: lime;
}

.item-grid .item-row .item.item-inactive {
    filter: contrast(0.8) grayscale(0.5);
    opacity: 0.4;
}

.item-grid .item-row .item:hover {
    background-size: contain;
}

.item-grid .item-row .switch:hover {
    font-size: calc(var(--item-size) * 0.4);
}

/**********************************
    keys
**********************************/

#key-container {
    grid-area: keys;
}

/**********************************
    dungeon status
**********************************/

#dungeon-status-container {
    grid-area: dungeonstatus;

    .item-row:hover {
        background-color: #cb9c3d30;
    }
}