#map-container {
    position: relative;
    display: flex;
    grid-area: map;
    overflow: hidden;

    #map {
        --map-scale: 0.8;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        left: 0px;
        flex-grow: 0;
        flex-shrink: 0;

        .poi.chest,
        .poi.skulltula {
            visibility: hidden;
        }
    }

    &[data-mode~="chests"] #map .poi.chest,
    &[data-mode~="skulltulas"] #map .poi.skulltula {
        visibility: visible;
    }

    /**********************************
        map options
    **********************************/

    .map-options {
        position: absolute;
        bottom: 0;
        left: 0;
        user-select: none;
        padding: 10px;
        background-color: #5557;

        .map-option {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: rgba(0,0,0,0.3);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-origin: content-box;
            border-radius: 20%;
            border: solid 2px black;
            cursor: pointer;
            opacity: 0.3;

            &#map-option-chest {
                background-image: url('../images/chest.svg');
            }

            &#map-option-skulltula {
                background-image: url('../images/skulltula.svg');
            }

            &#map-option-shops {
                background-image: url('../images/shop.svg');
                opacity: 1;
            }
        }
    }

    &[data-mode~="chests"] .map-option#map-option-chest {
        opacity: 1;
    }

    &[data-mode~="skulltulas"] .map-option#map-option-skulltula {
        opacity: 1;
    }

    /**********************************
        slider
    **********************************/

    .slidecontainer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #5557;
        top: 0;
        left: 0;

        .slidetext {
            color: black;
            line-height: 12px;
            margin-right: 5px;
            user-select: none;
            cursor: default;
        }
    
        .slidetrack {
            display: inline-block;
            width: 100px;
            height: 7px;
            margin-bottom: 4px;
        }
    
        .slider {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 100%;
            background: #cb9c3d;
            outline: none;
    
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 5px;
                height: 100%;
                background: black;
                cursor: pointer;
            }
        
            &::-moz-range-thumb {
                width: 5px;
                height: 100%;
                background: black;
                cursor: pointer;
            }
        }
    }

    #map-scroll {
        position: relative;
        display: block;
        overflow: auto;
    }
}

#dungeon-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 1.0em;
    grid-area: dungeon;

    .dungeon-head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        padding: 5px;

        #dungeon-name {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex: 1;
            padding: 4px;
            font-size: 1.3em;
            user-select: none;
            cursor: default;

            &[data-mode]:after {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                margin-left: 5px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-origin: content-box;
                font-size: 0.5em;
                font-weight: bolder;
                border-radius: 20%;
                border: solid 2px #cb9c3d;
                background-color: #cb9c3d;
                color: black;
                content: "?";
            }

            &[data-mode="v"]:after {
                content: "V";
            }

            &[data-mode="mq"]:after {
                content: "MQ";
            }
        }

        #dungeon-switch {
            display: inline-block;
            width: 40px;
            height: 40px;
            padding: 4px;
            flex-shrink: 0;
            background-color: rgba(0,0,0,0.3);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-origin: content-box;
            border-radius: 20%;
            border: solid 2px #cb9c3d;
            cursor: pointer;

            &[data-mode="chests"] {
                background-image: url('../images/chest.svg');
            }

            &[data-mode="skulltulas"] {
                background-image: url('../images/skulltula.svg');
            }
        }
    }

    #dungeon-list {
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
        list-style: none;
        margin: 4px;
        overflow-x: hidden;
        overflow-y: auto;
    
        .dungeon-entry {
            display: flex;
            align-items: center;
            padding: 5px;
        
            &:hover {
                background-color: #282828;
            }
        }
    }
}

/**********************************
    shop
**********************************/
#shop-view {
    position: absolute;
    display: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    z-index: 1;

    &.active {
        display: block;
    }

    #shop-view-close-button {
        position: absolute;
        display: flex;
        top: 10px;
        right: 30px;
        width: 25px;
        height: 25px;
        z-index: 2;
        cursor: pointer;
        color: white;
        background-color: black;
        border: solid 2px white;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        line-height: 1em;
    }

    #shop-view-body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .shop {
            border: solid 1px white;
            padding: 20px;
            margin: 20px;
    
            .shop-title {
                color: white;

                .shop-edit {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    color: white;
                    background-color: black;
                    border: solid 1px white;
                    margin-left: 5px;
                    cursor: pointer;

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }
    
            .shop-body {
                display: grid;
                grid-template-columns: repeat(4, 150px);
                grid-template-rows: repeat(2, 120px);
                grid-gap: 5px;
                margin-top: 10px;
    
                .shop-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 5px;
                    border: solid 1px white;
                    user-select: none;
                    cursor: pointer;

                    .shop-item-image {
                        display: block;
                        height: 32px;
                        width: 32px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    .shop-item-title {
                        display: block;
                        word-wrap: break-word;
                        overflow: hidden;
                        width: 100%;
                        flex: 1;
                    }

                    .shop-item-price {
                        display: block;
                        width: 100%;
                        text-align: right;

                        &:after {
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            margin-left: 5px;
                            background-image: url('../images/rupees.png');
                            background-size: 14px;
                            background-position: center;
                            background-repeat: no-repeat;
                            content: " ";
                        }
                    }
                }
            }
        }
    }
}