#map-container {
    position: relative;
    display: flex;
    grid-area: map;
    background-color: black;
    border-width: 8px;
    border-style: inset;
    border-color: gray;
    overflow: hidden;

    /**********************************
        map options
    **********************************/

    .map-options {
        position: absolute;
        bottom: 0;
        left: 0;
        user-select: none;
        padding: 10px;
        background-color: #5557;

        .map-option {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: rgba(0,0,0,0.3);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-origin: content-box;
            border-radius: 20%;
            border: solid 2px black;
            cursor: pointer;
            opacity: 0.3;

            &#map-option-chest {
                background-image: url('../images/chest.svg');
            }

            &#map-option-skulltula {
                background-image: url('../images/skulltula.svg');
            }

            &#map-option-shops {
                background-image: url('../images/shop.svg');
                opacity: 1;
            }
        }
    }

    &[data-mode~="chests"] .map-option#map-option-chest {
        opacity: 1;
    }

    &[data-mode~="skulltulas"] .map-option#map-option-skulltula {
        opacity: 1;
    }

    /**********************************
        slider
    **********************************/

    .slidecontainer {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background-color: #5557;
        top: 0;
        left: 0;

        .slidetext {
            color: black;
            line-height: 12px;
            margin-right: 5px;
            user-select: none;
            cursor: default;
        }
    
        .slidetrack {
            display: inline-block;
            width: 100px;
            height: 7px;
            margin-bottom: 4px;
        }
    
        .slider {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 100%;
            background: #cb9c3d;
            outline: none;
    
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 5px;
                height: 100%;
                background: black;
                cursor: pointer;
            }
        
            &::-moz-range-thumb {
                width: 5px;
                height: 100%;
                background: black;
                cursor: pointer;
            }
        }
    }

    #map-scroll {
        position: relative;
        display: block;
        overflow: auto;
    }
}

#map {
    --map-scale: 0.8;
    background-image: url("../images/map.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: calc(825px * var(--map-scale));
    height: calc(466px * var(--map-scale));
    left: 0px;
    flex-grow: 0;
    flex-shrink: 0;
}

#map .poi.chest,
#map .poi.skulltula {
    visibility: hidden;
}

#map[data-mode~="chests"] .poi.chest,
#map[data-mode~="skulltulas"] .poi.skulltula {
    visibility: visible;
}

#dungeon-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: 1.0em;
    grid-area: dungeon;
    background-color: black;
    border-width: 8px;
    border-style: inset;
    border-color: gray;
}

#dungeon-container #dungeon-name {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 1.5em;
    user-select: none;
    cursor: default;
}

#dungeon-container #dungeon-name:after {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    content: " ";
}

#dungeon-container #dungeon-name[data-mode="chests"]:after {
    background-image: url('../images/chest.svg');
}

#dungeon-container #dungeon-name[data-mode="skulltulas"]:after {
    background-image: url('../images/skulltula.svg');
}

#dungeon-container #dungeon-list {
    min-height: 200px;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    list-style: none;
    margin: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dungeon-container #dungeon-list .dungeon-entry {
    display: flex;
    align-items: center;
    padding: 5px;

    &:hover {
        background-color: #282828;
    }
}

/**********************************
    shop
**********************************/
#shop-view {
    position: absolute;
    display: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    z-index: 1;

    &.active {
        display: block;
    }

    #shop-view-close-button {
        position: absolute;
        display: flex;
        top: 10px;
        right: 30px;
        width: 25px;
        height: 25px;
        z-index: 2;
        cursor: pointer;
        color: white;
        background-color: black;
        border: solid 2px white;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        line-height: 1em;
    }

    #shop-view-body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .shop {
            border: solid 1px white;
            padding: 20px;
            margin: 20px;
    
            .shop-title {
                color: white;

                .shop-edit {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    color: white;
                    background-color: black;
                    border: solid 1px white;
                    margin-left: 5px;
                    cursor: pointer;

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                }
            }
    
            .shop-body {
                display: grid;
                grid-template-columns: repeat(4, 150px);
                grid-template-rows: repeat(2, 120px);
                grid-gap: 5px;
                margin-top: 10px;
    
                .shop-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 5px;
                    border: solid 1px white;
                    user-select: none;
                    cursor: pointer;

                    .shop-item-image {
                        display: block;
                        height: 32px;
                        width: 32px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    .shop-item-title {
                        display: block;
                        word-wrap: break-word;
                        overflow: hidden;
                        width: 100%;
                        flex: 1;
                    }

                    .shop-item-price {
                        display: block;
                        width: 100%;
                        text-align: right;

                        &:after {
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            margin-left: 5px;
                            background-image: url('../images/rupees.png');
                            background-size: 14px;
                            background-position: center;
                            background-repeat: no-repeat;
                            content: " ";
                        }
                    }
                }
            }
        }
    }
}