
.header {
    top: 0;
    width: 100%;
    padding: 2px 10px;
    background-color: #cb9c3d;
    color: black;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Triforce", Arial, sans-serif;
}

.header > ul {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
}

.header > ul,
.header > ul > li > ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -moz-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    list-style: none;
}

.header > ul > li,
.header > ul > li > ul > li {
    display: inline-block;
    width: 100px;
    height: 26px;
}

.header > ul > li > ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100px;
    z-index: 100;
    padding: 5px;
    background-color: #cb9c3d;
}

.header > ul > li:hover > ul {
    display: table;
}

.header > ul > li > *,
.header > ul > li > ul > li > * {
    width: 100%;
    height: 100%;
    top: 0;
}

.header > ul > li.select-savegame {
    flex-basis: 0%;
    flex-grow: 1;
}

@media (max-width: 800px) {

    .header > ul > li.select-savegame {
        flex-basis: 100%;
    }

}

/**********************************
    footer
**********************************/

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 2px 10px;
    background-color: #cb9c3d;
    color: black;
    font-size: 0.8em;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;

    .footer-spacer {
        height: 1px;
    }
    
    .footer-spacer {
        margin: 0 15px;
    }
    
    .footer-right {
        margin-left: auto;
    }
}