
.header {
    top: 0;
    width: 100%;
    padding: 2px 10px;
    background-color: #cb9c3d;
    color: black;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: "Triforce", Arial, sans-serif;
}

.header > ul {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.header > ul,
.header > ul > li > ul {
    -webkit-padding-start: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -moz-padding-start: 0;
    -moz-margin-before: 0;
    -moz-margin-after: 0;
    list-style: none;
}

.header > ul > li,
.header > ul > li > ul > li {
    display: inline-block;
    width: 150px;
    height: 26px;
}

.header > ul > li > ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100px;
    z-index: 100;
    padding: 5px;
    background-color: #cb9c3d;
}

.header > ul > li:hover > ul {
    display: table;
}

.header > ul > li > *,
.header > ul > li > ul > li > * {
    width: 100%;
    height: 100%;
    top: 0;
}

.header > ul > li.select-savegame {
    flex-basis: 0%;
    flex-grow: 1;
    max-width: 500px;
    margin-right: 10px;
}

@media (max-width: 800px) {

    .header > ul > li.select-savegame {
        flex-basis: 100%;
        margin-right: 0;
    }

}

/**********************************
    footer
**********************************/

.footer {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    align-content: stretch;
    justify-content: stretch;
    bottom: 0;
    width: 100%;
    padding: 2px 2px;
    background-color: #cb9c3d;
    color: black;
    font-size: 0.8em;
    flex-grow: 0;
    flex-shrink: 0;
    user-select: none;

    @media (max-width: 800px) {
        grid-auto-flow: row;
    }

    .footer-field {
        flex: 1;
        background-color: black;
        color: white;
        border-color: #795b20 #c99836 #d4ad5e #a17a2b;
        border-width: 2px;
        border-style: solid;
        padding: 0px 5px;
    }
}