.poi {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: 100%;
    border: solid 2px black;
}

.poi:hover {
    box-shadow: 0px 0px 0px 2px cyan;
    z-index: 10000;
}

.poi.chest,
.poi.skulltula {
    width: calc(16px * var(--map-scale));
    height: calc(16px * var(--map-scale));
    margin-left: calc(-8px * var(--map-scale));
    margin-top: calc(-8px * var(--map-scale));
}

.poi.dungeon {
    width: calc(24px * var(--map-scale));
    height: calc(24px * var(--map-scale));
    margin-left: calc(-12px * var(--map-scale));
    margin-top: calc(-12px * var(--map-scale));
}

.poi.dungeon .count {
    display: inline-block;
    color: black;
    line-height: 24px;
    font-size: calc(1em * var(--map-scale));
    user-select: none;
}