/**********************************************************************

    Layouts used by Track-OOT

**********************************************************************/

#item-grid {
    grid-area: item-grid;
}
#dungeon-status {
    grid-area: dungeon-status;
}
#location-map {
    grid-area: location-map;
}
#location-list {
    grid-area: location-list;
}

.layout-container {
    --item-size: 40px;
    display: grid;
    justify-content: start;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;

    @media (max-width: $mobile-switch) {
    
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas: 
        "item-grid" 
        "dungeon-status"
        "location-list";
                
        #location-map {
            display: none;
        }
    
    }

    @media (min-width: $mobile-switch + 1px) {
    
        &:not([data-layout]),
        &[data-layout=""],
        &[data-layout="item"] {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas: 
            "item-grid" 
            "dungeon-status";
                
            #location-list,
            #location-map {
                display: none;
            }
        }
        
        &[data-layout="item-list"] {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto 1fr;
            grid-template-areas: 
            "item-grid" 
            "dungeon-status"
            "location-list";
                
            #location-map {
                display: none;
            }
        }
        
        &[data-layout="map-right"] {
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto 1fr;
            grid-template-areas: 
            "item-grid location-map" 
            "dungeon-status location-map"
            "location-list location-map";
        }
        
        &[data-layout="map-center"] {
            grid-template-columns: auto 1fr auto;
            grid-template-rows: auto 1fr;
            grid-template-areas: 
            "item-grid location-map location-list"
            "dungeon-status location-map location-list";
        }
        
        &[data-layout="map-compact"] {
            grid-template-columns: auto 1fr;
            grid-template-rows: auto auto 1fr;
            grid-template-areas: 
            "item-grid dungeon-status"  
            "item-grid location-map" 
            "location-list location-map";
        }
        
        &[data-layout="compact"] {
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas: 
            "item-grid location-list"  
            "dungeon-status location-list";
                
            #location-map {
                display: none;
            }
        }
        
        &[data-layout="flat"] {
            grid-template-columns: auto auto 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "item-grid dungeon-status location-list";
                
            #location-map {
                display: none;
            }
        }
    
    }

}