.dialog {
    $dialog-b-color: rgb(255, 255, 255);
    $dialog-a-color: rgb(155, 155, 155);
    $dialog-f-color: rgb(0, 0, 0);

    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    &> .dialog-window {
        display: block;
        padding: 20px 0;
        margin-top: 100px;
        background-color: $dialog-b-color;
        border: solid 2px $dialog-a-color;
        border-radius: 10px;

        &> .dialog-title {
            color: $dialog-f-color;
            font-size: 1.5em;
            margin: 10px 20px;
            font-weight: bold;
            max-width: 500px;
            overflow: hidden;
        }

        &> .dialog-text {
            display: block;
            color: $dialog-f-color;
            margin: 5px 20px;
            min-width: 300px;
            max-width: 500px;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            word-wrap: break-word;
            resize: none;
        }

        &> .dialog-input-box {
            display: block;
            margin: 5px 20px;

            &> .dialog-input {
                width: 100%;
                background-color: $dialog-b-color;
                border: solid 1px $dialog-f-color;
                color: $dialog-f-color;
                padding: 5px;
                
                &:focus {
                    box-shadow: #3bf5ff 0 0px 4px 2px;
                }
            }
        }

        &> .dialog-buttons {
            display: flex;
            margin: 10px 20px 0;
            justify-content: flex-end;
        
            &> button {
                margin-left: 10px;
                padding: 5px;
                color: $dialog-f-color;
                background-color: $dialog-b-color;
                border: solid 1px $dialog-f-color;
                border-radius: 2px;
                -webkit-appearance: none;
            
                &:hover, &:focus {
                    color: $dialog-b-color;
                    background-color: $dialog-f-color;
                }
            }
        }
    }
}