:root {
    --page-background-color: #000000;
    --page-text-color: #ffffff;
    --page-border-color: #795b20 #c99836 #d4ad5e #a17a2b;
    --page-border-color-inverted: #d4ad5e #a17a2b #795b20 #c99836;

    --navigation-background-color: #cb9c3d;
    --navigation-text-color: #000000;

    --edit-background-color: #222222;
    --edit-text-color: #ffffff;

    --main-hover-color: #cb9c3d32;

    --location-status-opened-color: #777777;
    --location-status-available-color: #00ff00;
    --location-status-unavailable-color: #ff0000;
    --location-status-possible-color: #ffff00;
}