.dialog {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    align-items: flex-start;
    justify-content: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    &> .dialog-window {
        display: block;
        margin-top: 100px;
        background-color: white;
        border: solid 2px darken(white, 20%);
        border-radius: 4px;

        &> .dialog-title {
            color: black;
            font-size: 1.5em;
            padding: 10px 20px 10px;
            font-weight: bold;
            max-width: 500px;
            overflow: hidden;
            border-bottom: solid 2px darken(white, 20%);
        }

        &> .dialog-text {
            display: block;
            color: black;
            padding: 20px;
            min-width: 300px;
            max-width: 500px;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;
            word-wrap: break-word;
            resize: none;
        }

        &> .dialog-input-box {
            display: block;
            margin: 5px 20px;

            &> .dialog-input {
                width: 100%;
                background-color: white;
                border: solid 1px black;
                color: black;
                padding: 5px;
                
                &:focus {
                    box-shadow: #3bf5ff 0 0px 4px 2px;
                }
            }
        }

        &> .dialog-buttons {
            display: flex;
            margin-top: 20px;
            padding: 10px 30px 10px;
            justify-content: flex-end;
            border-top: solid 2px darken(white, 20%);
        
            &> button {
                margin-left: 10px;
                padding: 5px;
                color: black;
                background-color: white;
                border: solid 1px black;
                border-radius: 2px;
                cursor: pointer;
                -webkit-appearance: none;
            
                &:hover, &:focus {
                    color: white;
                    background-color: black;
                }
            }
        }
    }
}