#splash {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;

    span {
        margin-top: 20px;
    }
    
    &.inactive {
        display: none;
    }
}